DJANGO_SECRET_KEY=CHANGE_ME
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=werkblatt.zircula.org
DJANGO_CSRF_TRUSTED_ORIGINS=https://werkblatt.zircula.org
WERKBLATT_PUBLIC_BASE_URL=https://werkblatt.zircula.org
WERKBLATT_DEFAULT_ORGANIZATION=zircula
WERKBLATT_SOFTWARE_AUTHOR_URL=https://zircula.org
WERKBLATT_HOSTING_PROVIDER_LABEL=Hosted by Zircula e.V.

POSTGRES_DB=werkblatt
POSTGRES_USER=werkblatt
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_HOST=db
POSTGRES_PORT=5432

OIDC_DISCOVERY_URL=https://auth.zircula.org/application/o/werkblatt/.well-known/openid-configuration
OIDC_CLIENT_ID=CHANGE_ME
OIDC_CLIENT_SECRET=CHANGE_ME
OIDC_ALLOWED_GROUPS=Werkblatt Admins,Werkblatt Users
OIDC_ADMIN_GROUPS=Werkblatt Admins

PRETIX_BASE_URL=https://www.pretix.eu
PRETIX_ORGANIZER=WERK
PRETIX_API_TOKEN=CHANGE_ME

